[submodule "cream-cast"]
	path = cream-cast
	url = https://github.com/dmeckers/cream-cast
[submodule "cream-soap"]
	path = cream-soap
	url = https://github.com/dmeckers/cream-soap.git
[submodule "cream-api"]
	path = cream-api
	url = https://github.com/dmeckers/cream-api.git
