[submodule "cream-cast"]
	path = cream-cast
	branch = master
	url = https://github.com/dmeckers/cream-cast
[submodule "cream-soap"]
	branch = master
	path = cream-soap
	url = https://github.com/dmeckers/cream-soap.git
[submodule "cream-api"]
	branch = dev
	path = cream-api
	url = https://github.com/dmeckers/cream-api.git
[submodule "cream-tg"]
	path = cream-tg
	branch = dev
	url = https://github.com/dmeckers/cream-tg.git
[submodule "cream-frontend"]
	path = cream-frontend
	branch = dev
	url = https://github.com/dmeckers/cream-frontend.git
